@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1>  @Localizer["Welcome"]

   </h1>
    <h1>Welcome @User.Identity.Name!</h1>
    <h1>Last Interaction Time: @ViewData["LastInteractionTime"]</h1>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
